h2{
    color: rgb(237, 108, 130);
    border: solid 1px black;
    width: 400px;
    border-radius: 50px;
    background-color: aqua;
    padding-left: 20px;
}
#btn{
    display: flex;
}
#btn button{
    margin-top: 22px;
    border: 1px solid chartreuse;
    width: 90px;
    height: 40px;
    border-radius: 50px;
    margin-left: 60px;
    background-color: rgb(156, 156, 226);
}